#grid {
    display: grid;
    overflow-y: scroll;
    max-height: 85vh;
    grid-template-columns: repeat(2, 48%);
    grid-row-gap: 1rem;
    grid-column-gap: 0.5rem;
    justify-content: stretch;
}