.icon::before {
    display: inline-block;
    margin-right: .5em;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 2.0rem;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
}

a {
    color: whitesmoke;
    font-size: 1.7rem;
    cursor: pointer;
}

nav {
    height: 100%;
    color: whitesmoke;
    background-color: cornflowerblue;
}
