#index .path {
    color:white;
}
.fa-folder {
    color:aliceblue;
}
.fa-angle-right {
    color: aliceblue
}
.btn1 {
    height:80px;
    width:300px;
}

.directory {
    background-color: #FFE763;
}
.btn1 img {
    height:55px;
    width:55px;
}
.col-8 {
    font-size: 130%;
}
.row1 {
    font-size: 100%;
    text-align: left;
}
.folder1 {
    width:100%;
}
.col {
    font-size: 50%; 
}

