<div class="folder1" [ngbTooltip]="entry.name" placement="right">
    <button 
        type="button" 
        class="btn" 
        [ngClass]="{'directory': entry.isDir}" 
        data-toggle="modal"        
        data-target="#loading"
        (dblclick)="onSelect()"
        >
        <div class="button">
            <img 
                class="image" 
                [src]="imgPath"
                alt="FolderIcon">
    
            <div class="name"> {{ entry.name }}</div>
            <div class="size">
                <em>{{ sizeString }} </em>
            </div>
            <div class="permissions">
                <em>{{ entry.permissionsString }}</em>
            </div>
            <div class="date">
                <em> {{ entry.lastModified | date:'shortDate' }} </em>
            </div>
        </div>
    </button>
</div>
